<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body style="background-color:rgb(112, 57, 31);">
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="title">BookBeats</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Give your playlist a theme" id="filter-text-val" onkeyup="checkEnter(event)">
            </div>
        </div>
        <div id="answer-box">
            <!-- <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/09Jg0zbjHWrsgjFmNTRGIX?utm_source=generator" width="100%"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe> -->
        </div>
    </div>
    <script src="{{url_for('static', filename='spotify.js')}}">

    </script>

    <script>

        function answerBoxTemplate(title, artist) {
            return `<div class='results'>
                <h3 class='episode-title'>${artist} - ${title}</h3>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        async function callSearch(search_info) {
            accessToken = await getAccessToken();
            const searchRes = await Promise.all(search_info.map(song => searchTrack(song[0], song[1], accessToken)));
            return searchRes;
        }

        function filterText() {
            const searchInfo = [];
            const promises = [];
            var resultCounter = 0;
            document.getElementById("answer-box").innerHTML = ""
            var plHeader = document.createElement("h2");
            plHeader.innerHTML = "Recommended Playlist";
            document.getElementById("answer-box").appendChild(plHeader);
            fetch("/songs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        if (resultCounter < 10) {
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = answerBoxTemplate(row.song, row.artist)
                            searchInfo.push([row.song, row.artist])
                            document.getElementById("answer-box").appendChild(tempDiv)
                        }
                        resultCounter++;

                    })

                    callSearch(searchInfo)
                        .then(ids => {
                            ids.forEach(id => {
                                if (id != '') {
                                    promises.push(addTrackToPlaylist(id));
                                }
                            });
                        }).then(() => Promise.all(promises)
                            .then(val => generatePlaylistEmbed())
                            .catch(error => console.error('Error adding tracks to playlist:', error)));

                });
        }


        function checkEnter(event) {
            if (event.keyCode === 13) {
                filterText();
            }
        }


    </script>


</body>