<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body style="background-color:rgb(112, 57, 31);">
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="title">BookBeats</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Give your playlist a theme" id="filter-text-val" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>
        const clientId = "62df10fd27b24fe3bbf1256444216cd0";
        const code = undefined;

        function answerBoxTemplate(title, artist, link) {
            return `<div class='results'>
                <h3 class='episode-title'>${artist} - ${title}</h3>
                <p class='episode-desc'>${link}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            var resultCounter = 0;
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            var plHeader = document.createElement("h2");
            plHeader.innerHTML = "Recommended Playlist";
            document.getElementById("answer-box").appendChild(plHeader);
            fetch("/songs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    if (resultCounter < 10) {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.song, row.artist, row.link)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }
                    resultCounter++;
                }));

        }

    </script>
</body>